
body {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.shiku-shiku {
    flex-direction:column;
    padding-bottom: 5%;
    position: relative;
    margin:auto;
    left: 10px;
    z-index: -2;
}

.text-cont {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}