@keyframes float {
	0% {

		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

body {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
}

.card-container {
    display: flex;
    flex-direction: column;
    padding:50px;
    margin-bottom: 20px;
}

.card {
    display: block;
    z-index: 1;
    margin: 50px;
}

.hidden {
    display: none !important;
}

.padd {
    padding-bottom: 15px;
}

.mono {
    font-family: 'Roboto Mono', monospace;
}

#poem-spinner {
    margin: auto;
}

#poem-submitter {
    margin-bottom: 20px;
}

#poem-card {
    margin-top: 50px;
}

.loading {
    background-color: #FDBEC9;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9001;
    transition: all 0.75s cubic-bezier(0.4, 0, 0.2, 1);
}

.loading .loading-wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.floaty {
    transform: translatey(0px);
    animation: float 3s ease-in-out infinite;
    margin: auto
}

.avatar-container {
    display:block;
    padding-bottom: 5%;
    position: relative;
    margin: auto;
    z-index: -2;
}

