body {
    display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  padding:50px;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding:50px;
  margin-bottom: 20px;
}

.card {
    display: block;
    z-index: 1;
    margin: 20%;
}